@font-face {
    font-family: Kavo;
    src: url(https://dl.dropboxusercontent.com/s/pwiw07kkb6na4ce/kavo-serif.regular.otf?dl=0);
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100;200&display=swap');


body {
    background-color: #EAE6DF;
    color: #2d2d2b;
    text-align: center;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: Kavo;
    font-size: 52px;
    color:#B8926A;
    -webkit-text-stroke: rgba(45, 45, 43, .35) 1px;
}

input[type = submit]{
    display:block;
    position:relative;
    margin:auto;
    margin-top: 0.5%;;
    
}

#largeForm{
    width:30%;
    height:300px;
    background-color: #d4c8be;
    color:#2d2d2b;
}

#largeForm::-webkit-scrollbar {
    width: 1em;
  }
   
#largeForm::-webkit-scrollbar-track {
    box-shadow: none;
  }
   
#largeForm::-webkit-scrollbar-thumb {
    background-color: #d4c8be;
    outline: 1px solid #b0b0b0;
  }

#largeForm::-webkit-scrollbar-track-piece{
    background-color: #EAE6DF;
}

#largeForm::-webkit-resizer{
    background-color: #B8926A;
    color:#2d2d2b;
}

input{
    background-color:#d4c8be;
    border: 1px solid #b0b0b0;
}


