@font-face {
    font-family: Kavo;
    src: url(https://dl.dropboxusercontent.com/s/pwiw07kkb6na4ce/kavo-serif.regular.otf?dl=0);
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100;200&display=swap');

.originDiv{
    width: auto;
}

#root{
    width: auto;
}

body {
    background-color: #EAE6DF;
    color: #2d2d2b;
    text-align: center;
    width:auto;
    font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

h1{
    font-family: Kavo;
    font-size: 52px;
    color:#B8926A;
    -webkit-text-stroke: rgba(45, 45, 43, .35) 1px;
    padding: 2%;
}

input[type = submit]{
    display:block;
    position:relative;
    margin:auto;
    margin-top: 0.5%;;
    
}

#largeForm{
    width:30%;
    height:300px;
    background-color: #d4c8be;
    color:#2d2d2b;
}

#largeForm::-webkit-scrollbar {
    width: 1em;
  }
   
#largeForm::-webkit-scrollbar-track {
    box-shadow: none;
  }
   
#largeForm::-webkit-scrollbar-thumb {
    background-color: #d4c8be;
    outline: 1px solid #b0b0b0;
  }

#largeForm::-webkit-scrollbar-track-piece{
    background-color: #EAE6DF;
}

#largeForm::-webkit-resizer{
    background-color: #B8926A;
    color:#2d2d2b;
}

input{
    background-color:#d4c8be;
    border: 1px solid #b0b0b0;
}

::selection{
    background: #b0b0b0;
    color: #2d2d2b;
}

#urlForm, #textForm, #chartForm{
    padding: 5%;
    width:auto;
    margin:auto;
}

#urlForm{
    transform: translate(0,55%);
}

#textForm{
    transform: translate(0,7%);
}

#chartForm{
    transform: translate(0,55%);
}


#summary-container{
    width:50%;
    margin:auto;
}

#chart-container{
    width:50%;
    margin:auto;

}

/*CSS for Navbar*/

ul.navbar {
    border: none;
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}

ul.navbar li {
    display:inline-block;
    list-style-type:none;
    width: calc(100%/4);
    background: #af9f8c;
    text-align: center;
}

ul.navbar li:hover{
    background-color: #c3b099;
}

ul.navbar li a {
    display: block;
    padding: 5%;
    text-align:center;
    text-decoration: none;
    color: #e3e4e0;
}


ul.navbar li ul {
    display:none;
}
ul.navbar li:hover > ul {
    display:inline;
}

li a {
    display: block;
    color:#B8926A;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: larger;
}

li a:hover {
background-color: #2d2d2b;
}

#home-div{
    margin: auto;
    width: auto;
    transform: translate(0,135%);
}